
    
 
        <style type="text/css">
            .form-signin {
                margin: 0 auto;
                max-width: 330px;
                padding: 15px;
            }</style>

       

 
    <body >
        <br/>

        <br />

        
            <div class="container">
                <form class="form-signin" enctype="application/x-www-form-urlencoded">
                   
                    <h2 class="form-signin-heading">Iniciar sesión</h2>
                    
                    <div class="form-group">
                        <div class="input-group">
                        <img>
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span></img>
                            <input type="text" class="form-control" placeholder="Ingrese id de usuario" requiredMessage="Username field must not be empty">                       
                            </input>
                        </div>
                    </div>
        
                    <div class="form-group">
                        <div class="input-group">
                            <img>
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            </img>
                            <input type="text" class="form-control" placeholder="Ingrese contraseña" requiredMessage="Password field must not be empty" />
                        
                        
                           </div>
                    </div>
                    
                    <div class="checkbox"><li ><input id="j_idt10" name="j_idt10" type="checkbox" />Recuerda mis datos</li>
                    </div>
                    <puimessage for="j_idt10"></puimessage>
                    <Button action="" type="submit" id="j_idt11" name="j_idt11" class="btn btn-lg btn-primary btn-block" >
                        <span><i class="glyphicon glyphicon-log-in"></i></span> Entrar</Button>
                
                </form>
                
        

     <!-- 
       
        

 -->

    </body>
     
